<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>使用帮助</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="notetext">
    <div th:utext ="${item.info}">未知错误</div>
</div>
</body>
<script type="text/javascript">
    var obj = document.getElementById("notetext");
    obj.innerHTML = obj.innerText;//这样重新设置html代码为解析后的格式
</script>
<script src="static/js/jquery.min.js" type="text/javascript" ></script>
<script src="static/js/getRequestParameters.js" type="text/javascript" ></script>
<script>
    $(function(){
        //封装获取参数的方法
        var request =
            {
                QueryString : function(val)
                {
                    var uri = window.location.search;
                    var re = new RegExp("" +val+ "=([^&?]*)", "ig");
                    return ((uri.match(re))?(uri.match(re)[0].substr(val.length+1)):null);
                }
            };
        var code = request.QueryString("code");
        var id = GetUrlParam("id");
        var openid = GetUrlParam("openid");
        var url = "http://tlhe.cn:8082/saveUser";
        $.ajax(url, {
            type:"GET",
            dataType: 'jsonp',
            data:{
                'code': code,
                'openid' : openid,
                id : id
            },
            jsonp:"callback",
            crossDomain: true,
            success: function(data) {

            }
        });
        $.ajax("http://tlhe.cn:8082/getData", {
            data:{
                id : id, 'openid' : openid
            },
            type:"GET",
            dataType: 'jsonp',
            jsonp:"callback",
            crossDomain: true,
            success: function(data) {
                var html = $("#notetext").html(data.ret.data).text();
                $("#notetext").html(html);
                document.title = data.ret.title;
            }
        });
    });
</script>

</html>